* {
    margin: 0;
    padding: 0;
}
@keyframes rotacionar1 {
    from {
        transform: rotate(-25deg);
        opacity: 0;
    }
}
@keyframes rotacionar2 {
    from {
        transform: rotate(45deg);
        opacity: 0;
    }
}
@keyframes aparece1 {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparece01 {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparece2 {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparece02 {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes aparece3 {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes aparece03 {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
*::selection {
    background-color: transparent;
}
.logo {
    max-height: 40px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins";
}
ul {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 500px;
    list-style-type: none;
}
ul li {
    transition: 140ms ease;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    margin: auto;
    background-color: rgb(10, 10, 10);
    color:rgb(228, 228, 228);
    align-items: center;
}
header {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: rgb(10, 10, 10);
}
.download-btn {
    font-family: "Poppins";
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: white;
    transition: 140ms ease;
}
.download-btn:hover {
    scale: 1.05;
    border: 2px solid rgba(255, 255, 255, 0.247);
    cursor: pointer;
}
.blur {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: rgba(64, 140, 255, 0.342);
    position: absolute;
    top: 4rem;
    left: 30%;
    filter: blur(50PX);

}
aside p {
    width: 400px;
    text-wrap: wrap;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
aside h1 {
    margin-bottom: 5px;
    font-size: 2em;
}
.aside-1 {
    animation: rotacionar1 1s ease 1;
    margin: 100px;
    height: auto;
}
.equipe-img {
    max-width: 400px;
    margin-top: 50px;
    animation: aparece2;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
#artigo-1 {
    flex-wrap: wrap;
    color: rgb(228, 228, 228);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}
ul li:hover {
    transform: translateY(-5px);
    color: white;
}
.ativo {
    transform: translateY(-5px);
    color: white;
}
.saber-btn {
    color: rgb(158, 158, 158);
    text-decoration: none;
    border-right: 1px solid white;  
    animation: digitando steps(1) 0.5s;
    animation-iteration-count: infinite;
    border-right: 1px solid white;

}   
@keyframes digitando {
    from {
        border-right: 1px solid rgba(255, 255, 255, 0);
    }
}

#somos {
    height: 500px;
}
.aside-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.aside-3 p {
    max-height: 200px;
    margin: 20px;
    animation-name: aparece3;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
.aside-3 h1 {
    animation-name: aparece3;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    margin: 20px;
    text-wrap: nowrap;
    
}
.cont {
    width: 400px;
}
.down {
    animation-name: aparece3;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    background-color: white;
    font-size: 0.8em;
    height: 70px;
    width: 70px;
    margin: 50px;
    border-radius: 50%;
     transition: 150ms ease;
     border: 1px solid black;
}
.down:hover {
    background-color:  rgb(0, 110, 255) ;
    color: white;
}

aside button {
    margin: 20px auto;
    display: block;
}
#artigo-sla {
    height: 300px;
}
footer {
    background-color: rgb(204, 204, 204);
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 20px;
}
hr {
    width: 100%;

}
.aga1 {
    margin-top: 60px;
    text-align: center;
}
.outline {
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    font-weight: 900;
    transition: 500ms ease;
    background-size: 0;
}
.outline:hover {

    background-color: rgba(0, 110, 255, 0.301);
    backdrop-filter: blur(500px);
    background-size: 10ch;
}
.outline2 {
    color: transparent;
    -webkit-text-stroke: 0.5px #000;
    font-weight: 900;
}
.link-paraodownload {
    display: flex;
    justify-content: center;
}
.cont > h1 {
text-align: center;
}
#linkerror {
    color: rgb(0, 110, 255);
}
.aside-4 p {
    margin: 50px auto;
    display: block;

}
.aside-4 {
    height: auto;
}













.art1 {

    display: grid;
    grid-template-columns:repeat(3, 230px);
    grid-auto-rows: auto;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    place-content: center;
    
}
.container {
    
    margin-top: 40px;
    background-color: rgb(214, 214, 214);
    width: 100%;
    border-radius: 20px;
    transition: 120ms ease-in-out;
}
.container:hover  {
    transform: scale(1.05);
    outline: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
#cont1 {
    animation: aparece01 1.5s ease-in-out ;
    opacity: 0;
    animation-fill-mode: forwards;
}
#cont3 {
    animation: aparece02 1.5s ease-in-out ;
    opacity: 0;
    animation-fill-mode: forwards;
}
#cont4 {
    animation: aparece01 1.5s ease-in-out ;
    opacity: 0;
    animation-fill-mode: forwards;
}
#cont6 {
    animation: aparece02 1.5s ease-in-out 1;
    opacity: 0;
    animation-fill-mode: forwards;
}
#cont2 {
    animation: aparece03 1.5s ease-in-out 1;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
#cont5 {
    animation: aparece03 1.5s ease-in-out 1;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.tittle {
    text-align: center;
    font-size: 1.8em;
}
.price {
    text-align: center;
}
.comprar {
    cursor: pointer;
    height: 40px;
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 1rem;
    background-color: transparent;
    transition: 300ms ease-in-out;

}
.comprar:hover {
    font-size: 1.05rem;
    color: white;
    background-color:rgb(0, 110, 255);
    border: 1px solid white;
}

.img {
    border-radius: 20px;
    margin-top: 60px;
    width: 80%;
    max-height: 70%;
    display: block;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .art1 {
        grid-template-columns: repeat(2, 230px);
    }

}
@media screen and (max-width: 600px) {
    .art1 {
        grid-template-columns: repeat(1, 230px);
    }
    
}
.artigo-download {
    height: auto;
}
footer ul {
    display: block;
}
footer {
    display: flex;
    justify-content: space-around;
}
li img {
    scale: 0.2;
}
#listafooter li {
        display: inline-block;
    }
.comprando {
    display: none;
    position: none;
    height: 500px;
    width: 400px;
    background-color: rgb(202, 202, 202);
    top: 50px;
    margin: auto;
    border-radius: 25px;

}